/*
	Template Name: Saifway Insurance HTML5/CSS3 Template
	Author: Tripples
	Author URI: http://themeforest.net/user/tripples
	Description: Saifway Insurance HTML5/CSS3 Template
	Version: 1.0
*/

/* Table of Content
==================================================
1.    Global Styles
2.    Typography
3.    Top Bar
4.    Header area
5.    Main Slider
6.    Features
7.    Product area
8.    Featured Tab
9.    Content area
10.   Facts
11.   News section
12.   Testimonial
13.   Footer Top
14.   Footer
15.   Sub Pages
16.   Contact Us
17.   News Listing
18.   News Single
19.   Sidebar
20.   Error page
21.   Home Variation
  
*/



@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* Global styles
================================================== */

html{
	overflow-x: hidden !important;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body{
	border: 0;
	margin: 0;
	padding: 0;
}

.body-inner{
	position: relative;
	overflow: hidden;
}

a:link,
a:visited{
    text-decoration: none;
}

a{
  color: #336699;
}


a:hover{
	text-decoration: none;
	color: #336699;
}

a.read-more{
	color: #336699;
   font-weight: 700;
   text-transform: uppercase;
}

a.read-more:hover{
  color: #222;
}

section, .section-padding{
	padding: 70px 0;
	position: relative;
}

.no-padding{
	padding: 0;
}

.media>.pull-left{
	margin-right: 20px;
}

.gap-60 {
	clear: both;
	height: 60px;
}

.gap-40 {
	clear: both;
	height: 40px;
}

.gap-30 {
	clear: both;
	height: 30px;
}
.gap-20 {
	clear: both;
	height: 20px;
}

.mrb-30{
   margin-bottom: 30px;
}

a:focus{
	outline: 0;
}

img.pull-left {
  margin-right: 20px;
  margin-bottom: 20px;
}

.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ts-padding {
    padding: 50px;
}

.solid-bg{
   background: #f9f9f9;
}

.solid-row {
  background: #f0f0f0;
}

.ts-divider {
   position: relative;
   margin: 20px 0 40px;
}

.ts-divider:after {
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(to right, #ffffff 0, #e0e0e0 30%, #e0e0e0 70%, #ffffff 100%);
  background: -ms-linear-gradient(left, #ffffff 0, #e0e0e0 30%, #e0e0e0 70%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0, #e0e0e0 30%, #e0e0e0 70%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #ffffff 0, #e0e0e0 30%, #e0e0e0 70%, #ffffff 100%);
  background: -moz-linear-gradient(left, #ffffff 0, #e0e0e0 30%, #e0e0e0 70%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), 
   color-stop(30%, #e0e0e0), color-stop(70%, #e0e0e0), color-stop(100%, #ffffff));
}

/* Dropcap */

.dropcap {
  font-size: 48px;
  line-height: 60px;
  padding: 0 7px;
  display: inline-block;
  float: left;
  font-weight: 700;
  margin: 5px 15px 5px 0;
  position: relative;
  text-transform: uppercase;
}
.dropcap.primary {
  background: #336699;
  color: #fff;
}
.dropcap.secondary {
  background: #3a5371;
  color: #fff;
}

/* Title */

.title{
   font-size: 12px;
   text-transform: uppercase;
   line-height: 34px;
   font-weight: 400;
   margin-bottom: 60px;
   margin-top: 0;
   text-align: center;
   position: relative;
   letter-spacing: 1px;
}
.title:after {
   content: "";
   position: absolute;
   display: inline-block;
   bottom: -20px;
   width: 100px;
   height: 3px;
   background: #336699;
   left: 50%;
   margin-left: -50px;
}
.title .title-head {
  font-size: 36px;
  text-transform: capitalize;
  display: block;
  font-weight: 700;
  letter-spacing: 0;
}

/* Page content title */

.page-content-title.first{
   margin-top: 0;
}

/* Video responsive */

.embed-responsive {
	padding-bottom: 56.25%;
   position: relative;
   display: block;
   height: 0;
   overflow: hidden;
}

.embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Input form */

.form-control{
	box-shadow: none;
	border: 1px solid #dedede;
	padding: 5px 20px;
	height: 44px;
	background: none;
	color: #959595;
	font-size: 14px;
	border-radius: 0;
}

.form-control:focus{
	box-shadow: none;
   border: 1px solid #336699;
}

select, input{
  border-bottom: 5px solid #333333; 
  border-top: 0; 
  border-right: 0;
  border-left: 0;
}

hr {
    background-color: #e7e7e7;
    border: 0;
    height: 1px;
    margin: 40px 0;
}

blockquote {
   padding: 30px;
   border-left: 0;
   margin: 30px 0;
   background: #f9f9f9;
   position: relative;
}

blockquote:before {
   content: "\f10d";
   font-family: FontAwesome;
   position: absolute;
   font-size: 54px;
   color: #E5E5E5;
   top: 8px;
   left: 15px;
   z-index: 0;
}

blockquote p{
   font-size: 16px;
   line-height: 24px;
   font-weight: 300;
   position: relative;
   z-index: 1;
}

cite {
    display: block;
    font-size: 14px;
    margin-top: 10px;
}

/* Button */


.btn-primary {
  background: #336699;
}

.btn-dark {
  background: #3a5371;
}

.btn-primary,
.btn-dark {
  color: #fff;
  border-radius: 2px;
  padding: 12px 30px;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.btn-primary:hover,
.btn-dark:hover {
  background: #222;
  color: #fff;
}


/* Ul, Ol */

.list-round-arrow, 
.list-arrow{
   list-style: none;
   margin: 0;
   padding: 0 0 0 15px;
}

.list-round-arrow li:before {
    font-family: FontAwesome;
    content: "\f05d";
    margin-right: 10px;
    color: #3a5371;
}

.list-arrow li:hover {
    color: #336699;
}

.list-arrow{
   padding: 0;
}

ul.list-arrow li:before {
  font-family: FontAwesome;
  content: "\f105";
  margin-right: 10px;
}


/* Arrow bg */

.down-arrow-transparent {
  background: url(../images/down-arrow-transparent.png) no-repeat center -1px transparent;
  display: block;
  height: 22px;
  width: 100%;
  margin: 0;
  z-index: 200;
  position: absolute;
  border: 0;
  left: 0;
  right: 0;
  bottom: 0%;
}
.down-arrow-white {
  background: url(../images/down-arrow-white.png) no-repeat top center;
  z-index: 100;
  margin-top: 0;
  min-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.down-arrow-color {
  background: url(../images/down-arrow-color.png) no-repeat top center;
  z-index: 100;
  margin-top: 0;
  min-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Owl carousel */

.owl-carousel.owl-theme .owl-controls .owl-page span{
   width: 10px;
   height: 10px;
   margin: 5px 4px;
   background: #000;
   opacity: 0.3;
}

.owl-carousel.owl-theme .owl-controls .owl-page.active span, 
.owl-carousel.owl-theme .owl-controls.clickable .owl-page:hover span{
   background: #336699;
}


/*-- Feature Box, Feature Image box --*/

/* Common feature */

.ts-service-wrapper {
   text-align: center;
}

.ts-service-wrapper .ts-service-image img {
   display: inline-block;
}

.ts-service-wrapper .ts-service-info h3 {
   font-size: 20px;
   letter-spacing: -1px;
}

.ts-service-icon-wrapper {
   text-align: center;
}

.ts-service-icon-wrapper .ts-service-icon {
   font-size: 40px;
   background: #336699;
   color: #fff;
   width: 100px;
   height: 100px;
   line-height: 100px;
   display: inline-block;
   border-radius: 100%;
   margin: 25px 0 10px;
}

/*-- Service box icon --*/

.ts-service-box .ts-service-icon i {
   font-size: 36px;
   float: left;
   color: #fff;
   background: #336699;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   border-radius: 100%;
   width: 66px;
   height: 66px;
   line-height: 66px;
   text-align: center;
}

.ts-service-box .ts-service-box-content {
   margin-left: 100px;
}

.ts-service-box .ts-service-box-content ul {
   margin: 0;
   padding: 0 0 0 15px;
}

.ts-service-box .ts-service-box-content h3 {
   font-size: 20px;
   letter-spacing: -1px;
}

/* Service bg */

.service-bg-row {
  background: #336699;
}

.service-bg-box {
   position: relative;
   padding: 50px;
   min-height: 350px;
   color: #fff;
   -moz-transition: all 300ms ease;
   -webkit-transition: all 300ms ease;
   -ms-transition: all 300ms ease;
   -o-transition: all 300ms ease;
   transition: all 300ms ease;
}

.service-bg-box h3,
.service-bg-box p {
   color: #fff;
}

.service-bg-box h3 {
   font-size: 18px;
   font-weight: 700;
}

.service-bg-box .service-bg-icon i {
   font-size: 48px;
   margin-bottom: 20px;
}

.service-bg-box.one {
   background: rgba(0, 0, 0, 0.15);
}

.service-bg-box.two {
   background: rgba(0, 0, 0, 0.2);
}

.service-bg-box.three {
   background: rgba(0, 0, 0, 0.26);
}

/* Typography
================================================== */

body{
   background:#fff;
   color: #555555;
}

body, p {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
    line-height: 24px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
	color: #3d4049;
   font-weight: 700;
	font-family: 'Montserrat', sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased !important;
}

h1{
   font-size: 36px;
   line-height: 48px;
}

h2{
   font-size: 28px;
   line-height: 36px;
}

h3{
   font-size: 24px;
   line-height: 32px;
}

h4{
   font-size: 18px;
   line-height: 28px;
}

h5{
   font-size: 14px;
   line-height: 24px;
}


/* Top Bar
================================================== */

.top-bar {
   background: #3a5371;
   padding: 10px 0;
}

/* Top menu */

.top-menu ul{
   text-align: right;
}

.top-menu ul li{
   display: inline-block;
}

.top-menu ul li a{
   color: #fff;
   position: relative;
   padding: 0 12px;
   font-size: 14px;
   border-radius: 0;
   line-height: 14px;
   border-right: 1px solid #999;
}

.top-menu ul li:last-child a{
   border-right: 0;
   padding-right: 0;
}

.top-menu ul li a{
   color: #fff;
}

.top-menu li a:hover{
	color: #336699;
}

/* Top social */

.top-social ul{
	list-style: none;
  	padding: 0;
  	margin: 0;
}

.top-social li {
  display: inline-block;
  padding: 0;
}

.top-social li a{
   color: #fff;
	margin-right: 15px;
	font-size: 14px;
	-webkit-transition: 400ms;
  	-moz-transition: 400ms;
  	-o-transition: 400ms;
  	transition: 400ms;
}

.top-social li a:hover{
	color: #336699;
}


/* Header area
================================================== */

.header{
   background: #fff;
}

.navbar-fixed {
  z-index: 99999;
  position: fixed;
  opacity: .98;
  width: 100%;
  top: 0;
  -webkit-animation: fadeInDown 800ms;
  -moz-animation: fadeInDown 800ms;
  -ms-animation: fadeInDown 800ms;
  -o-animation: fadeInDown 800ms;
  animation: fadeInDown 800ms;
  -webkit-backface-visibility: hidden;
}

/*-- Logo --*/

.logo {
  background: #f7f7f7;
  position: relative;
  min-height: 125px;
  padding: 30px 0 25px 10px;
}
.logo:before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  left: -650px;
  width: 650px;
  background: #f7f7f7;
}
.logo:after {
  content: '';
  position: absolute;
  left: 100%;
  z-index: 999;
  border-top: 125px solid #f7f7f7;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
  bottom: 0;
}


/* header right */
.header-right {
  float: right;
}

ul.top-info {
  list-style: none;
  margin: 45px 0 0 0;
  padding: 0;
  float: right;
}

ul.top-info li {
  position: relative;
  float: left;
  font-size: 14px;
  margin-left: 22px;
}

ul.top-info li .info-box span.info-icon {
  font-size: 36px;
  color: #336699;
  display: inline-block;
}

ul.top-info li .info-box .info-box-content {
  display: inline-block;
  font-family: Montserrat;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

ul.top-info li .info-box .info-box-title {
  font-weight: 500;
  color: #3d4049;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: normal;
}

ul.top-info li .info-box .info-box-subtitle {
  margin: 0 0 5px 0;
  line-height: normal;
  color: #777;
  font-size: 13px;
}


/* Main navigation */

.nav-style-boxed .find-agent{
   margin-right: -15px;
}

.find-agent{
   background: #fff;
   position: relative;
}


.find-agent a{
   color: #43c387;
   padding: 0 30px 0 17px;
   line-height: 65px;
   position: relative;
   z-index: 10;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 700;
   text-align: center;
}

.find-agent:before{
   content: '';
   position: absolute;
   right: 100%;
   z-index: 999;
   border-bottom: 65px solid #fff;
   border-left: 30px solid transparent;
   border-right: 0px solid transparent;
   bottom: 0;
}


.site-navigation{
   background: #2a63af;
   box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
}

.navbar-toggle{
	float: left;
	margin-top: 10px;
	padding: 12px;
}

.navbar{
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
}

.navbar-toggle{
   float: left;
   margin-top: 10px;
   padding: 12px;
   border-radius: 0;
   margin-right: 5px;
   background: #3a5371;
}

.navbar-toggle .icon-bar{
   background: #fff;
}

.navbar-toggle .i-bar{
	background: #fff;
}

ul.navbar-nav{
   float: left;
   display: inline-block;
}

ul.navbar-nav > li{
   float: none;
   display: inline-block;
}

ul.navbar-nav > li:first-child{
   padding-left: 0;
}

ul.navbar-nav > li:hover > a, 
ul.navbar-nav > li.active > a{
  color: #0E232A;
  position: relative;
}


ul.navbar-nav > li{
   padding: 0 15px;
   position: relative;
}

ul.navbar-nav > li:last-child:after{
   background: none;
}

ul.navbar-nav > li > a{
   font-family: Montserrat;
   color: #fff;
   text-rendering: optimizeLegibility;
   font-weight: 700;
   font-size: 15px;
   margin: -1px 0;
   line-height: 25px;
   padding: 22px 0 20px;
   -webkit-transition: 350ms;
   -moz-transition: 350ms;
   -o-transition: 350ms;
   transition: 350ms;
}

ul.navbar-nav > li > a i{
	font-weight: 700;
}

.nav .open>a, .nav .open>a:hover, 
.nav .open>a:focus{
	background: transparent;
	border:0;
}


/* Dropdown */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
   display: block;
   content: "\f105";
   font-family: FontAwesome;
   float: right;
   margin-top: 0;
   margin-right: -5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

@media (min-width: 768px) {

	ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
	ul.nav li.dropdown:hover ul.dropdown-menu 
   li.dropdown-submenu ul.dropdown-menu {
	    display: none;
	} 

	ul.nav li.dropdown ul.dropdown-menu 
   li.dropdown-submenu:hover ul.dropdown-menu {
	    display: block;
	} 
}

.dropdown-menu{
   text-align: left;
   background: #fff;
	z-index: 100;
	min-width: 200px;
	border-radius: 0;
   border: 0;
}

.dropdown-menu-large{
   min-width: 400px;
}

.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-menu-large > li > ul > li > a{
   padding-left: 0;
}

.dropdown-menu-large > li > ul > li.active > a{
   color: #336699;
}

.navbar-nav>li>.dropdown-menu a{
	background: none;
}

.dropdown-menu li a{
	font-family: Montserrat;
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	padding: 15px 20px ;
	color: #090909;
	border-bottom: 1px solid #e5e5e5;
}

.dropdown-menu li:last-child > a{
	border-bottom: 0;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>.dropdown-menu>.active>a{
	background: none;
	color: #336699;
}

.dropdown-menu li a:hover, 
.dropdown-menu li a:focus{
	color: #336699;
}


/* Main Slider
================================================== */

/*-- Main slide --*/

#main-slide .item {
    min-height: 600px;
    color: #fff;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: hidden;
}

#main-slide .item img{
	width: 100%;
	-webkit-backface-visibility: hidden;
}


#main-slide .item .slider-content {
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#main-slide .item.active .slider-content {
  opacity: 1;
  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;
}

#main-slide .slider-content{
   top: 50%;
   margin-top: -135px;
   left: 0;
   padding: 0;
   position: absolute;
   width: 100%;
   color: #fff;
}

.slider-content {
   position: relative;
   display: table;
   height: 100%;
   width: 100%;
}

.slide-title{
   font-size: 68px;
   line-height: 72px;
   font-weight: 700;
   color: #fff;
   text-transform: uppercase;
}

.slide-sub-title{
    font-style: normal;
    font-size: 30px;
    margin-bottom: 30px;
    color: #5C5556;
}

.slider-text {
   display: table;
   vertical-align: bottom;
   color: #fff;
   padding-left: 40%;
   width: 100%;
   padding-bottom: 0;
   padding-top: 20px;
}

.slider-text .slide-head{
   font-size: 36px;
   color: #0052a5;
   position: relative;
}

.slider-img{
    display: block;
    position: absolute;
    top: -80px;
    left: 20%;
    width: 314px;
    max-height: 100%;
}

.slider-img img {
   display: block;
   position: relative;
   max-height: 100%;
   width: auto;
}

.slider.btn{
   margin: 5px;
   border: 2px solid transparent;
}

.slider.border{
   background: none;
   border: 2px solid #fff;
}

.slider.border:hover{
   background: #336699;
   border:2px solid transparent;
}

/* Carousel control */

.carousel-indicators li{
	width: 10px !important;
	height: 10px !important;
	margin: 1px !important;
	border-radius: 100% !important;
   border: 0 !important;
	background: rgba(255,255,255,.5);
}

#main-slide .carousel-indicators li.active,
#main-slide .carousel-indicators li:hover {
   background: #336699;
    -moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

#main-slide .carousel-control.left,
#main-slide .carousel-control.right,
#main-slide .carousel-indicators {
	opacity: 0;
	filter: alpha(opacity=0);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

#main-slide:hover .carousel-control.left,
#main-slide:hover .carousel-control.right,
#main-slide:hover .carousel-indicators{
	opacity: 1;
	filter: alpha(opacity=100);
}

#main-slide .carousel-control.left span {
	padding: 15px;
}

#main-slide .carousel-control.right span {
	padding: 15px;
}

#main-slide .carousel-control .fa-angle-left, 
#main-slide .carousel-control .fa-angle-right{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	margin-top: -25px;
}

#main-slide .carousel-control .fa-angle-left{
	left: 0;
}

#main-slide .carousel-control .fa-angle-right{
	right: 0;
}

#main-slide .carousel-control i{
	background: #fff;
	color: #222;
	line-height: 56px;
	width: 56px;
	height: 56px;
	border-radius: 0;
	font-size: 36px;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

#main-slide .carousel-control i:hover{
	background: #222;
   color: #fff;
}

/*-- Animation */
.carousel .item.active .animated1 {
   
}

.carousel .item.active .animated2{
   -webkit-animation: lightSpeedIn 1s ease-in 200ms both;
   animation: lightSpeedIn 1s ease-in 200ms both;
}

.carousel .item.active .animated3 {
   -webkit-animation: bounceInLeft 2s ease-in-out 800ms both;
   animation: bounceInLeft 1.5s ease-in-out 800ms both;
}

.carousel .item.active .animated4{
   -webkit-animation: flipInX 2s ease-in 800ms both;
   animation: flipInX 2s ease-in 800ms both;
}

.carousel .item.active .animated5{
   -webkit-animation: bounceInLeft 1s ease-in-out 100ms both;
   animation: bounceInLeft 1s ease-in-out 100ms both;
}

.carousel .item.active .animated6{
   -webkit-animation: bounceIn 1s ease-in 500ms both;
   animation: bounceIn 1s ease-in 500ms both;
}

.carousel .item.active .animated7{
   -webkit-animation: bounceIn 1s ease-in 500ms both;
   animation: bounceIn 1s ease-in 500ms both;
}

.carousel .item.active .animated8{
   -webkit-animation: bounceInDown 1s ease-in 800ms both;
   animation: bounceInDown 1s ease-in 800ms both;
}

/*-- Content Box slide --*/

.box-slide .item{
   min-height: 600px;
   background-position: 50% 50%;
   -webkit-background-size: cover;
   background-size: cover;
   -webkit-backface-visibility: hidden;
}

.box-slider-content{
   top: 50%;
   margin-top: -115px;
   padding: 0;
   position: absolute;
   width: 100%;
}

.box-slider-text{
   background: rgba(255, 255, 255, .8);
   display: inline-block;
   padding: 20px 30px;
   max-width: 550px;
}

.box-slide-title{
   font-size: 28px;
   margin-top: 0;
}

.box-slider-text .btn-primary{
   padding: 10px 20px;
}

.box-slide.owl-theme .owl-controls{
   margin: -20px;
}

.owl-theme.box-slide .owl-pagination{
   position: relative;
   top: -40px;
}

.box-slide.owl-theme .owl-controls .owl-page span{
   opacity: .8;
   background: #fff;
}

.box-slide.owl-theme .owl-controls .owl-buttons [class*=owl-]{
   line-height: 56px;
   width: 56px;
   height: 56px;
   background: #fff;
   color: #222;
   font-size: 36px;
   padding: 0;
   margin: 0;
   position: absolute | fixed;
   top: 50%;
   right: 0;
   margin-top: -40px;
}

.box-slide.owl-theme .owl-controls .owl-buttons .owl-prev{
   left: 0;
   right: auto;
}

.box-slide.owl-theme .owl-controls .owl-buttons [class*=owl-]:hover{
   background: #333;
   color: #fff;
}

.box-slide.owl-theme .owl-controls .owl-buttons [class*=owl-] {
   opacity: 0;
   filter: alpha(opacity=0);
   background-image: none;
   background-repeat: no-repeat;
   text-shadow: none;
   -webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
   -ms-transition: all .25s ease;
   -o-transition: all .25s ease;
   transition: all .25s ease;
}

.box-slide.owl-theme:hover .owl-controls .owl-buttons [class*=owl-]{
   opacity: 1;
   filter: alpha(opacity=100);
}

/*-- Slider pages --*/

#main-slide.slider-pages .item {
    min-height: 340px;
    color: #fff;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: hidden;
}


/* Features
================================================== */

.ts-features{
   padding-top: 30px;
}

.intro-title{
   font-size: 12px;
   text-transform: uppercase;
   line-height: 32px;
   font-weight: 400;
   margin-bottom: 20px;
   letter-spacing: 1px;
}

.intro-title .title-head {
   font-size: 28px;
   display: block;
   font-weight: 700;
   text-transform: capitalize;
   letter-spacing: 0;
}

.intro-text{
   padding-right: 15px;
}

/* Intro feature */

.intro-feature .ts-service-wrapper .ts-service-info h3 {
   text-transform: capitalize;
   font-weight: 700;
   line-height: 22px;
   font-size: 16px;
   text-transform: uppercase;
}

.ts-service-wrapper .ts-service-icon {
   -webkit-transition: 400ms;
   -moz-transition: 400ms;
   -o-transition: 400ms;
   transition: 400ms;
   -webkit-transform: scale(0.9);
   -ms-transform: scale(0.9);
   transform: scale(0.9);
}
.ts-service-wrapper:hover .ts-service-icon {
   border: 5px solid rgba(0, 0, 0, 0.3);
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
}


/* Quote */

.quote-form{
   padding-left: 15px;
}

.quote-form .btn-primary{
   background: #336699;
   font-size: 12px;
   margin-top: 10px;
}

.quote-form .btn-primary:hover{
   background: #333;
}

.quote-form h2{
   margin-bottom: 20px;
}

/* Accordion Feature */

.ts-features .panel-group{
   margin-top: 30px;
}

.panel-body img{
   width: 80px;
   height: 80px;
   margin-left: 15px;
}

/* Product area
================================================== */

.product-area{
   position: relative;
   min-height: 700px;
   padding-bottom: 85px;
   color: #fff;
   background-position: 50% 50%;
   -webkit-background-size: cover;
   background-size: cover;
   -webkit-backface-visibility: hidden;
}

.product-area .title{
   color: #fff;
}

.owl-theme.product-slide{
   background: #333;
   margin-top: 40px;
   padding: 25px 5px 20px 20px;
}

.product-item{
   padding-right: 20px;
}

.product-item .product-title{
   color: #fff;
   letter-spacing: 1px;
   font-size: 16px;
   margin-top: 15px;
   text-transform: uppercase;
}

.product-item .product-desc{
   color: #fff;
   padding-right: 10px;
}

.product-item .btn-primary{
   padding: 8px 15px;
   font-size: 12px;
   margin-top: 10px;
}

.owl-theme.product-slide .owl-controls {
   background: #333;
   position: absolute;
   top: -40px;
   right: 0;
   padding-right: 5px;
}

.product-slide.owl-theme .owl-controls .owl-buttons [class*=owl-],{
   background: none;
   color: #fff;
   font-size: 28px;
   margin: 0;
}

.product-slide.owl-theme .owl-controls .owl-buttons [class*=owl-]:hover{
   background: none;
   color: #fff;
}

.product-slide.owl-theme .owl-controls .owl-buttons div{
   margin: 5px 0;
   font-size: 26px;
}


/* Product Isotope */

.isotope-nav{
   display: inline-block;
   margin: 0 0 10px;
}

.isotope-nav ul{
   list-style: none;
   margin: 0;
}

.isotope-nav ul li{
   float: left;
   margin-right: 10px;
}

.isotope-nav ul li a{
   color: #fff;
   font-size: 14px;
   padding: 5px 8px;
   margin-right: 5px;
   font-weight: 600;
   text-transform: uppercase;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

.isotope-nav ul a.active {
   color: #1bbc9b;
   border-color: #1bbc9b;
   border-bottom: 2px solid #1bbc9b;
}

.isotope-item {
    margin-top: 20px;
}


.isotop-img-conatiner{
   position: relative;
}

.isotop-img-conatiner:after{
   opacity: 0;
   position: absolute;
   content: '';
   top: 0;
   right: auto;
   left: 0;
   width: 100%;
   height: 100%;
    -webkit-transition: opacity 500ms;
   -moz-transition: opacity 500ms;
   -o-transition: opacity 500ms;
   transition: opacity 500ms;
   background-color: rgba(0, 0, 0, 0.7);
}

.isotop-img-conatiner:hover:after{
   opacity: 1;
}

.isotope-item-info{
   padding: 0 20px;
   z-index: 1;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

.isotope-item-title{
   font-size: 18px;
   letter-spacing: 1px;
   position: absolute;
   z-index: 1;
   bottom: 110px;
   color: #fff;
   text-transform: uppercase;
   margin: 0;
   width: 70%;
   opacity: 0;
   transition: bottom 0.2s linear, opacity 0.2s linear;
   -webkit-transition: bottom 0.2s linear, opacity 0.2s linear;
   -moz-transition: bottom 0.2s linear, opacity 0.2s linear;
}

.isotope-item-title a{
   color: #fff;
}

.isotope-item-title a:hover{
   color: #1bbc9b;
}

.isotop-img-conatiner:hover .isotope-item-title{
   bottom: 85px;
   opacity: 1;
}

.isotope-item-info .btn-primary{
   opacity: 0;
   font-size: 12px;
   z-index: 1;
   position: absolute;
   bottom: 20px;
   padding: 10px 20px;
   transition: bottom 0.2s linear, opacity 0.2s linear;
   -webkit-transition: bottom 0.2s linear, opacity 0.2s linear;
   -moz-transition: bottom 0.2s linear, opacity 0.2s linear;
}

.isotop-img-conatiner:hover .isotope-item-info .btn-primary{
   bottom: 35px;
   opacity: 1;
}

/* Featured Tab
================================================== */

.featured-tab-area{
   padding-bottom: 85px;
}

.featured-tab{
   margin-top: 20px;
}

.featured-tab .tab-content{
   border: 1px solid #ddd;
   border-top: 0;
   padding: 20px 20px 20px;
   overflow: hidden;
}

.featured-tab .nav.nav-tabs{
   background: #f5f5f5;
}

.featured-tab .nav-tabs>li>a{
   font-weight: 500;
   background: none;
   border-radius: 0;
   min-width: 200px;
   padding: 20px 15px;
   border-right: 1px solid #ddd;
   border-top: 5px solid transparent;
   margin-right: -1px;
   color: #555;
   -moz-transition: all 300ms ease;
   -webkit-transition: all 300ms ease;
   -ms-transition: all 300ms ease;
   -o-transition: all 300ms ease;
   transition: all 300ms ease;
}

.featured-tab.pages .nav-tabs>li>a{
   min-width: 175px;
}

.featured-tab .nav-tabs>li.active>a{
   color: #1bbc9b;
   background: #fff;
   border-top: 5px solid #1bbc9b;
   border-left: 1px solid #ddd;
}

.featured-tab .tab-head i{
   font-size: 20px;
}

.tab-content-title{
   font-size: 24px;
   text-align: center;
}

.featured-tab .tab-pane img.pull-left{
   margin: 0 20px 10px 0;
}

.featured-tab .tab-pane img.pull-right{
   margin: 0 0 0 20px;
}

.featured-tab .tab-icon i {
    font-size: 230px;
}


/* Content area
================================================== */

.ts-content{
   background: #f5f5f5;
}

.ts-content .ts-padding.left{
   padding-left: 150px;
   padding-top: 60px;
}

.service-box {
  margin: 25px 0 0 0;
}

.service-box i {
  font-size: 28px;
  margin-right: 5px;
  color: #336699;
  float: left;
}

.service-box .service-box-content h3 {
  margin: 0 0 15px;
  font-size: 15px;
  text-transform: uppercase;
}


.ts-content .ts-padding.right{
   position: relative;
}

.popup.cboxElement{
   display: block;
}

.video-icon{
   text-align: center;
   color: #fff;
   display: block;
   top: 50%;
   margin-top: 200px;
   font-size: 36px;
   z-index: 1;
   position: absolute;
   left: 50%;
   margin-left: -80px;
}

.video-icon i{
   width: 80px;
   height: 80px;
   line-height: 80px;
   border: 2px solid #fff;
   display: inline-block;
   border-radius: 100%;
}

.video-icon h2{
   color: #fff;
   position: relative;
   top: -10px;
}
.mydrawable{
   background:#f0f0f0;
   padding: 20px;
}

/* Facts
================================================== */

.facts {
   padding: 70px 0;
   background: #336699;
   color: #fff;
}

.facts .intro-title{
   color: #fff;
   margin-top: 0;
}

.facts .btn-dark{
   margin-top: 15px;
}

.fact-text{
   padding-top: 10px;
}

.facts-wrapper .ts-facts {
   color: #fff;
   text-align: center;
   padding: 25px 0;
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.facts-wrapper .ts-facts:nth-child(2),
.facts-wrapper .ts-facts:nth-child(4) {
   border-right: 0;
}

.facts-wrapper .ts-facts:nth-child(3),
.facts-wrapper .ts-facts:nth-child(4) {
   border-bottom: 0;
}

.facts-wrapper .ts-facts .ts-facts-icon i {
   font-size: 28px;
}

.facts-wrapper .ts-facts .ts-facts-content .ts-facts-num {
   color: #fff;
   font-size: 32px;
   margin: 10px 0 0;
}

.facts-wrapper .ts-facts .ts-facts-content .ts-facts-title {
   font-size: 14px;
   color: #fff;
   margin: 0;
}


/* News section
================================================== */

.news{
   background: url(../images/crossword.png);
   padding-bottom: 85px;
}

.latest-post .post-title{
   font-size: 20px;
   letter-spacing: -1px;
   line-height: 24px;
   font-weight: 400;
   /*margin:0 0 5px;*/
}

.latest-post .post-title a {
   color: #3d4049;
}

.latest-post .post-title a:hover{
   color: #1bbc9b;
}

.latest-post .post-item-date, 
.latest-post .post-item-author{
   color: #999;
}

.latest-post .post-item-author{
   margin-left: 5px;
}

.latest-post .btn-primary{
   padding: 10px 18px;
   font-size: 12px;
}

/* Testimonial
================================================== */

.testimonial-slide.owl-carousel .owl-wrapper-outer{
   padding-top: 55px;
   padding-bottom: 16px;
}

.testimonial-quote-item{
   padding: 30px 40px;
   margin: 0 10px;
   background-color: #eeeeee;
   border-radius: 3px;
   position: relative;
}

.testimonial-quote-item:after{
   content: "";
   position: absolute;
   bottom: -16px;
   left: 50px;
   border-width: 16px 0 0 16px;
   border-style: solid;
   border-color: #eeeeee transparent;
   display: block;
   width: 0;
}

.testimonial-quote-item .quote-text{
   margin:10px 0;
   display: inline-block;
}

.testimonial-text:before{
   content: "";
    position: absolute;
    bottom: -22px;
    left: 20px;
    border-width: 21px 15px 0 15px;
    border-style: solid;
    border-color: #a7a7a7 transparent;
    display: block;
    width: 0;
}

.testimonial-text:after{
   content: "";
   position: absolute;
   bottom: -20px;
   left: 21px;
   border-width: 20px 14px 0 14px;
   border-style: solid;
   border-color: #f9f9f9 transparent;
   display: block;
   width: 0;
}

.testimonial-thumb{
   position: absolute;
   top: -50px;
   width: 80px;
   height: 80px;
   margin:0;
   border-radius: 100%;
   border: 5px solid #eeeeee;
}

.quotes-author{
   font-size: 1.1em;
   font-weight: 700;
}

.quotes-subtext{
   font-style: italic;
}


.testimonial-slide.owl-theme .owl-controls{
   text-align: center;
   margin-top: 25px;
   position: relative;
   z-index: 1;
}

.testimonial-slide.owl-theme .owl-dots .owl-dot.active span {
    background: #0052a5;
}

.testimonial-slide.owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 3px;
    margin: 0 2px !important;
    border-radius: 0;
}


/* Testimonial classic */

.testimonial-classic {
   position: relative;
   padding: 30px 30px 15px 30px;
   border-width: 1px;
   border-style: solid;
   border-color: #ddd;
   margin-bottom: 40px;
}
.testimonial-classic:after {
   content: "";
   position: absolute;
   bottom: -40px;
   left: 45px;
   border-style: solid;
   border-width: 40px 0px 0 30px;
   border-color: #ddd transparent;
   display: block;
   width: 0;
   z-index: 1;
}

.testimonial-classic img {
   float: left;
   width: 80px;
   height: 80px;
   border-radius: 100%;
}

.testimonial-classic-text {
    padding-left: 110px;
}

.sidebar .testimonial-classic img {
    float: none;
}

.sidebar .testimonial-classic-text {
    padding-left: 0;
}

.testimonial-classic-author {
  position: absolute;
  bottom: -60px;
  left: 90px;
}

.testimonial-classic-author h3.name {
  font-size: 14px;
  margin: 10px 0 0;
  line-height: normal;
}

.testimonial-classic-author h4.desg {
  display: block;
  font-size: 13px;
  margin-top: 5px;
  color: #999;
  text-transform: capitalize;
  line-height: normal;
}

/* Footer Top
================================================== */

.footer-top {
   position: relative;
   bottom: -60px;
   margin-top: -60px;
   z-index: 1;
}

.footer-top-bg {
   background: #336699;
   border-radius: 3px;
   margin: 0;
   color: #fff;
}


.footer-top .footer-box {
   padding: 30px 35px 20px;
   min-height: 120px;
}

.footer-top .footer-box i {
   float: left;
   font-size: 28px;
    margin-top: 0px;
   background: rgba(0, 0, 0, 0.3);
   display: inline-block;
   text-align: center;
    width: 54px;
   height: 48px;
   line-height: 48px;
   padding-left: 6px;
}

.footer-top .footer-box .footer-box-content {
   margin-left: 80px;
}

.footer-top .footer-box .footer-box-content h3 {
   margin-top: 0;
   margin-bottom: 5px;
   font-size: 16px;
   color: #fff;
   font-weight: 700;
}

.footer-top .footer-box .footer-box-content p {
   margin: 0;
}

.footer-top .footer-box.two {
   background: rgba(0, 0, 0, 0.07);
}

.footer-top .footer-box.three {
   background: rgba(0, 0, 0, 0.15);
}


/* Footer
================================================== */

.footer{
   background: #25272e;
   color: #87888a;
   font-size: 14px;
   bottom: 0;  
   position: relative;
   padding: 120px 0 10px;
}

.footer-widget{
   padding-bottom: 40px;
}

.footer .widget-title{
   color: #fff;
   font-size: 16px;
   letter-spacing: 2px;
   text-transform: uppercase;
   margin-top: 0;
   padding-bottom: 10px;
   margin-bottom: 30px;
   position: relative;
}

.footer .widget-title:after{
   content: "";
   background: #336699;
   width: 34px;
   height: 1px;
   display: block;
   position: absolute;
   bottom: 0;
   left: 0;
}

/* Footer about */

.footer-about{
   padding-right: 40px;
   text-align: left;
}

.footer-logo{
   margin-bottom: 20px;
}

/* Links */

.footer-widget ul.list-arrow li {
    width: 50%;
    float: left;
    font-size: 14px;
    line-height: 36px;
}

.footer-widget ul.list-arrow li a{
   color: #87888a;
}

.footer-widget ul.list-arrow li a:hover{
   color: #336699;
}

/* Newsletter */

.newsletter-widget{
   border: 0;
   padding-top: 0;
}

.newsletter-widget .widget-title{
   margin-top: 0;
   line-height: 40px;
   margin-bottom: 25px;
}

.newsletter-widget .widget-title span{
   font-size: 36px;
   display: block;
   text-transform: uppercase;
}

.newsletter-form{
   position: relative;
}

.newsletter-form input{
   width: 80%;
   margin: 15px 0;
   background: rgba(0,0,0,.1);
   font-size: 12px;
   height: 45px;
   border: 1px solid rgba(255, 255, 255, 0.1);
}

.newsletter-form button {
   position: absolute;
   right: 0;
   top: 0;
   border-radius: 0;
   background: #336699 url(../images/newsletter-icon.png) no-repeat 20px 50% !important;
   text-indent: -9999em;
}


/* Footer social */

.footer-social{
   margin-top: 40px;
   padding-bottom: 20px;
}

.footer-social .widget-title{
   font-size: 14px;
}

.footer-social ul{
   list-style: none;
   margin: 0;
   padding: 0;
}

.footer-social ul li {
   margin: 0 10px 0 0;
   display: inline-block;
}

.footer-social ul li a {
   -webkit-transition: 400ms;
   -moz-transition: 400ms;
   -o-transition: 400ms;
   transition: 400ms;
   color: #fff;
}

.footer-social ul li a i {
   width: 28px;
   height: 28px;
   line-height: 26px;
   border: 2px solid #9a9b9d;
   text-align: center;
   -webkit-transition: 400ms;
   -moz-transition: 400ms;
   -o-transition: 400ms;
   transition: 400ms;
}

.footer-social ul li a i:hover {
   border: 2px solid transparent;
}

.footer-social ul li a i.fa-rss:hover {
   background: #faaa5e;
}

.footer-social ul li a i.fa-facebook:hover {
   background: #677fb5;
}

.footer-social ul li a i.fa-twitter:hover {
   background: #70c2e9;
}

.footer-social ul li a i.fa-google-plus:hover {
   background: #c53942;
}

.footer-social ul li a i.fa-pinterest:hover {
   background: #d8545d;
}

.footer-social ul li a i.fa-linkedin:hover {
   background: #3daccf;
}

.footer-social ul li a i.fa-dribbble:hover {
   background: #e299c2;
}

/* Copyright */

.copyright {
   border-top: 1px solid rgba(255, 255, 255, .1);
   font-size: 12px;
   padding: 20px 0;
}

.footer-menu{
   float: right;
}

.footer-menu ul li{
   display: inline-block;
   line-height: 12px;
   padding-left: 8px;
}

.footer-menu ul li a{
   color: #fff;
   padding: 0;
   text-transform: uppercase;
}

.footer-menu ul li a:hover{
   color: #336699;
}


#back-to-top {
   right: 40px;
   top: auto;
   z-index: 10;
   -webkit-backface-visibility: hidden;
}

#back-to-top.affix {
   bottom: 25px;
}

#back-to-top .btn.btn-primary{
   font-size: 18px;
   padding: 6px 15px;
}

/* Sub Pages
================================================== */

/*-- Banner --*/

.banner-area {
   position: relative;
   min-height: 250px;
   color: #fff;
   background-position: 50% 50%;
   -webkit-background-size: cover;
   background-size: cover;
   -webkit-backface-visibility: hidden;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    z-index: 1;
    margin-top: -45px;
}

.banner-title{
   color: #fff;
   font-size: 32px;
   text-transform: uppercase;
   line-height: normal;
   margin: 0;
   letter-spacing: 2px;
}

.breadcrumb{
   font-size: 12px;
   background: none;
   color: #fff;
   font-weight: 600;
   padding-top: 0;
}

.breadcrumb>li+li:before{
   color: #fff;
}


/*-- Insurance Pages --*/

.page-title{
   font-size: 36px;
   margin-top: 0;
}

.insurance-item-content h3 {
    margin-top: 0;
}


/*-- About us page --*/

.about-us-intro {
    max-width: 750px;
    margin: 0 auto;
}

.about-text {
   display: block;
   min-height: 360px;
   position: relative;
   padding: 20px 50px;
}

.about-img {
   padding: 0;
}

/*-- Page slides --*/

.page-slide.owl-theme .owl-controls .owl-buttons [class*=owl-]{
   background: #fff;
   color: #333;
   font-size: 28px;
   margin: 0;
   position: absolute;
   top: 50%;
   right: 0;
   margin-top: -20px;
}

.page-slide.owl-theme .owl-controls .owl-buttons .owl-prev{
   left: 0;
   right: auto;
}

.page-slide.owl-theme .owl-controls .owl-buttons [class*=owl-]:hover{
   background: #333;
   color: #fff;
}


/*-- Partners carousel --*/

.partner-logo {
    border-right: 1px solid #eee;
    padding: 0 20px;
}

.owl-item:last-child .partner-logo, 
.owl-item:nth-child(5) .partner-logo{
   border-right: 0;
}

.partner-logo img {
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
    opacity: .6;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.partner-logo:hover img {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}


/*-- Team page --*/

.team-slide .team-wrapper {
    position: relative;
    max-width: 261px;
    min-height: 260px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 20px;
}

.team-slide .team-wrapper .team-img-wrapper {
   position: relative;
   text-align: center;
   display: inline-block;
}

.team-slide .team-wrapper .team-img-wrapper .social-icons {
   top: 50%;
   position: relative;
}

.team-slide .team-wrapper .team-img-wrapper .social-icons i {
   font-size: 30px;
   color: #fff;
   margin-left: 10px;
}

.team-slide .team-wrapper .team-img-wrapper .team-img-wrapper-hover {
   position: absolute;
   text-align: center;
   width: 100%;
   height: 100%;
   z-index: 1;
   opacity: 0;
   background-color: rgba(27, 187, 155, 0.75);
   -webkit-transition: opacity 0.45s;
   -moz-transition: opacity 0.45s;
   -o-transition: opacity 0.45s;
   transition: opacity 0.45s;
   -webkit-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
}

.team-slide .team-wrapper .team-img-wrapper .team-img-wrapper-hover:hover {
   opacity: 1;
}

.team-slide .team-content .ts-name {
   font-size: 16px;
   margin-bottom: 0;
   line-height: normal;
   color: #336699;
}

.team-slide .team-content .ts-designation {
   color: #717171;
   font-size: 15px;
   border-bottom: 1px solid #e7e7e7;
   padding-bottom: 5px;
}

.team-slide.owl-theme .owl-controls .owl-buttons div{
    padding: 5px 15px;
    font-size: 20px;
    background: #336699;
    color: #fff;
    border-radius: 3px;
}

.team-slide.owl-theme .owl-controls .owl-buttons div:hover {
    background: #117964;
}


/*-- Career --*/

.table .btn-primary {
    padding: 5px 25px;
}

.job-box{
   background: #336699;
   color: #3a5371;
   position: relative;
   display: table;
   table-layout: fixed;
   width: 100%;
   padding: 20px 30px;
   margin: 0 0 40px;
   border-radius: 3px;
}

.job-box .job-info{
   display: table-cell;
   line-height: 26px;
   padding: 0 10px;
   font-size: 13px;
}

.job-box .job-info .icon{
   float: left;
   width: 25px;
}

.job-box .job-info .desc{
   overflow: hidden;
   font-weight: 500;
}

.job-box .job-info .desc strong{
   display: block;
   color: #fff;
}

/*-- Pricing table  --*/

.plan {
   list-style: none;
   margin: 20px 0;
   padding: 0 0 15px 0;
   text-align: center;
   background: #f6f6f6;
}

.plan.featured .plan-name {
   background: #336699;
}

.plan.featured .plan-name h2 {
   color: #fff;
}

.plan.featured .plan-name h2 small {
   color: #fff;
}

.plan.featured a.btn {
   background: #336699;
}

.plan.featured a.btn:hover {
   background: #000;
}

.plan-name {
   display: block;
   padding: 40px 0;
   position: relative;
   background: #ececec;
}

.plan-name h2 {
   margin: 0;
   padding: 0;
   font-size: 25px;
   font-weight: 700;
   line-height: normal;
   letter-spacing: -1px;
}

.plan-name h2 small {
   display: block;
   font-size: 16px;
   margin-top: 5px;
}

.plan-price {
   padding: 25px 0;
}

.plan-price h2 {
   font-size: 36px;
   position: relative;
   display: inline-block;
   font-family: 'Roboto', sans-serif;
}

.plan-price h2 .currency {
   top: -0.3em;
   font-size: 70%;
   left: -0.2em;
   font-weight: 400;
}

.plan-price h2 sup {
   font-size: 55%;
   top: -0.9em;
}

.plan-price h2 strong {
   display: inline-block;
}

.plan-price h2 small {
   display: block;
   font-size: 18px;
   line-height: normal;
   font-style: italic;
   margin-top: 15px;
}

.plan-duration {
   margin-top: -40px;
   margin-bottom: 15px;
}

.plan li > ul {
   padding: 0 50px;
   margin-bottom: 0;
}

.plan li > ul li {
   border-top: 1px dotted #e5e5e5;
   padding: 20px 0;
}

.plan li > ul li:first-child {
   border-top: 0 !important;
}

.plan a.btn {
   display: block;
   margin: 17px auto;
   padding: 13px 20px 11px;
   max-width: 150px;
   font-size: 12px;
   font-weight: 700;
   background: #272d33;
}

.plan a.btn:hover {
   background: #000;
}

/*-- Faq --*/

.panel-default>.panel-heading{
   background: none;
   border-radius: 0;
   position: relative;
}

.panel-group .panel{
   border-radius: 0;
}

h4.panel-title{
   font-size: 14px;
   background: none;
   border: 0;
   padding: 8px 0 8px 0;
   line-height: normal;
   border-radius: 0;
}

h4.panel-title a{
   color: #336699;
}

h4.panel-title span{
   float: right;
}

h4.panel-title a.collapsed{
   color: #333;
}

h4.panel-title a:before,
h4.panel-title a.collapsed:before{
   font-family: "FontAwesome";
   position: absolute;
   z-index: 0;
   font-size: 14px;
   right: 15px;
   padding: 0 5px;
   text-align: center;
   top: 50%;
   margin-top: -7px;
}

h4.panel-title a:before {
   content: "\f106";
}

h4.panel-title a.collapsed:before {
   content: "\f107";
}

.panel-body ul{
   padding-left: 25px;
}

.panel-group .btn.btn-primary.solid:hover{
   color: #333;
}

/* Action for all page */

.call-action-all{
   background: #f5f5f5;
   padding: 30px 0 20px;
}

.action-text{
   float: left;
}

.action-text h2{
   font-size: 28px;
   margin: 0;
   line-height: normal;
}

.action-text p{
   font-size: 20px;
   color: #fff;
}

.call-action-all .action-btn{
   float: right;
}

.call-action-all .action-btn .btn-primary{
   padding: 12px 25px;
}


/* Contact Us
================================================== */

.map {
    height: 420px;
    z-index: 1;
}

.contact-form-title{
   margin-top: 0;
   margin-bottom: 30px;
   line-height: normal;

}

.contact-three{
   padding-top: 0;
}


.contact-info-box {
   margin-top: 25px;
}

.contact-info-box i {
   float: left;
   font-size: 20px;
   color: #777777;
}

.contact-info-box .contact-info-box-content {
   padding-left: 40px;
   border-bottom: 1px solid #e7e7e7;
   padding-bottom: 15px;
}

.contact-info-box .contact-info-box-content h4 {
   font-size: 16px;
   line-height: normal;
   font-weight: 700;
   color: #777;
}

.contact-info-box .contact-info-box-content p {
   margin-bottom: 0;
}

.contact-info-box:last-child .contact-info-box-content {
   border-bottom: 0;
}


/* News Listing
================================================== */

.post{
   border-bottom: 1px solid #dedede;
   padding: 0 0 30px;
   margin: 0 0 45px;
}

.post.last{
   padding-bottom: 0;
   margin-bottom: 0;
   border-bottom: 0;
}

.post-body{
   padding: 20px 0;
}

.entry-header .entry-title{
	margin: 5px 0 35px;
	position: relative;
   line-height: 28px;
   text-transform: capitalize;
}

.entry-header .entry-title:after{
	content: "";
   position: absolute;
   display: inline-block;
   bottom: -18px;
   left: 0;
   width: 80px;
   height: 3px;
   background: #336699;
}

.entry-header .entry-title a{
	color: #3d4049;
}

.entry-header .entry-title a:hover{
	color: #336699;
}


/* Meta */

.post-meta{
   padding-bottom: 10px;
}

.post-meta a{
	color: #3d4049;
}

.post-meta a:hover{
   color: #336699;
}

.post-meta span{
	margin-right: 10px;
   padding-right: 10px;
   border-right: 1px solid #dedede;
   line-height: 12px;
   display: inline-block;
}

.post-meta .post-comment{
   border-right: 0;
}

.post-meta .post-comment .comments-link{
   margin-left: 5px;
}

.post-footer .btn.btn-primary{
   font-size: 12px;
   padding: 12px 20px;
   margin-top: 10px;
}

/* Pagination */

.paging{
	margin-bottom: -5px;
}

.pagination{
	margin: 0;
}

.pagination li a{
	border-radius: 0 !important;
	margin-right: 8px;
}

.pagination>.active>a, .pagination>.active>a:hover,
.pagination>li>a:hover{
	color: #fff;
  	background: #336699;
	border: 1px solid transparent;
}


/* News Single
================================================== */


.tags-area{
   margin: 20px 0;
}
.post-tags a{
	border: 1px solid #dedede;
   color: #777;
   display: inline-block;
   font-size: 12px;
   padding: 3px 10px;
   margin-left: 3px;
}

.post-tags a:hover{
   background: #336699;
   color: #fff;
   border: 1px solid transparent;
}

/* Post social */

.post-social-icons > li {
    display: inline-block;
}

.post-social-icons a i{
   margin-left: 5px;
   font-size: 16px;
   width: 28px;
   height: 26px;
   line-height: 26px;
   color: #fff;
   text-align: center;
}

.post-social-icons a i.fa-facebook {
   background: #677fb5;
}

.post-social-icons a i.fa-twitter {
   background: #70c2e9;
}

.post-social-icons a i.fa-google-plus {
   background: #c53942;
}

.post-social-icons a i.fa-linkedin {
   background: #3daccf;
}


/* Author box */

.author-box {
   background: #f2f2f2;
   padding: 20px 20px 10px;
   margin: 20px 0;
}

.author-img img{
	width: 110px;
	height: 110px;
	margin-right: 30px;
}

.author-info h3{
   margin-top: 0;
   margin-bottom: 5px;
   font-size: 20px;
   font-weight: normal;
}

.author-info h3 span{
   font-size: 14px;
   color: #959595;
   border-left: 1px solid #AFAFAF;
   padding-left: 8px;
   margin-left: 5px;
}

/* Comments area */

.comments-area{
   margin: 40px 0;
}

.comments-list .comment-content {
    margin: 15px 0;
}

.comments-list .comment-reply {
    color: #336699;
    text-transform: uppercase;
    font-weight: 500;
}

.comments-counter{
	font-size: 18px;
}
.comments-counter a{
	color: #323232;
}

.comments-list{
	list-style: none;
	margin: 0;
	padding: 20px 0;
}

.comments-list .comment{
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.comments-list .comment.last{
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.comments-list img.comment-avatar{
	width: 84px;
	height: 84px;
	margin-right: 30px;
}

.comments-list .comment-body{
	margin-left: 110px;
}

.comments-list .comment-author{
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 700;
	font-size: 16px;
}

.comments-list .comment-date{
	color: #959595;
	margin-bottom: 5px;
	font-size: 12px;
}

.comments-reply{
	list-style: none;
	margin: 0 0 0 70px;
}

.comments-form{
	margin-bottom: 0;
}

.comments-form .title-normal{
   margin-bottom: 20px;
}

.comments-form .btn.btn-primary{
	padding: 10px 20px;
   margin-top: 20px;
}

/* Sidebar
================================================== */

.sidebar .widget-title{
   font-size: 20px;
   font-weight: 700;
   position: relative;
   margin-bottom: 40px;
   margin-top: 0;
   line-height: normal;
   letter-spacing: -1px;
}

.sidebar .widget-title:after{
   content: '';
   width: 30px;
   left: 0;
   bottom: -10px;
   height: 3px;
   background: #336699;
   position: absolute;
}

/* Widget common */

.sidebar .widget{
   margin-bottom: 40px;
   margin-left: 20px;
   
}

.sidebar .widget.box{
   padding: 25px;
}

.widget.box.solid{
   background: #f2f2f2;
}

.widget.box.red{
   background: #ec483b;
   color: #fff;
}

.widget.box.red .widget-title{
   color: #fff;
}

.widget ul li{
   line-height: 30px;
}

.sidebar .widget ul li a{
   color: #3d4049;
}

.sidebar .widget ul li a:hover{
   color: #336699;  
}

.sidebar .widget ul li i{
   margin-right: 5px;
}

.sidebar .btn {
    font-weight: 700;
    font-size: 12px;
    margin-top: 15px;
    padding: 10px 25px;
}

/* Sidebar nav */

.sidebar ul.nav-tabs{
   border:0;
}

.sidebar ul.nav-tabs li.active a, 
.sidebar ul.nav-tabs li:hover a{
   color: #336699;
}

.sidebar ul.nav-tabs li a{
   color: #3d4049;
   border-radius: 0;
   padding: 0;
   padding-left: 0;
   font-weight: 400;
   display: inline-block;
}

.sidebar ul.nav-tabs li{
   color: #3d4049;
   line-height: normal;
   font-weight: 600;
   border-bottom: 1px dotted #d3d3d3;
   padding: 15px 0;
}

.sidebar ul.nav-tabs li:last-child{
   border-bottom: 0;
}

/* Widget search */

.widget.widget-search{
   padding: 4px 20px;
   background: #f9f9f9;
}

.widget-search .form-control,
.widget-search .form-control:focus{
   border: 0 !important;
   font-style: italic;
}

.widget-search i{
   color: #3d4049;
   font-size: 18px;
   position: relative;
   top: 0;
}

/* Recent News */

.widget.recent-posts .widget-title{
   margin-bottom: 35px;
}

.widget.recent-posts ul li{
   border-bottom: 1px solid #dedede;
   padding-bottom: 15px;
   margin-bottom: 17px;
}

.widget.recent-posts ul li:last-child{
   border: 0;
   padding-bottom: 0;
   margin-bottom: 0;
}

.widget.recent-posts .posts-thumb img{
   margin-right: 15px;
   width: 90px;
   height: 70px;
}

.widget.recent-posts .post-info .entry-title{
   font-size: 14px;
   font-weight: 700;
   line-height: 20px;
   margin: 0;
}

.widget.recent-posts .entry-title a{
   color: #3d4049;
}

.widget.recent-posts .entry-title a:hover{
   color: #336699;
}

.widget.recent-posts .post-date{
   font-weight: 400;
   color: #999;
   text-transform: capitalize;
}

/* Widget tags */

.widget-tags ul > li {
   float: left;
   margin: 3px;
}

.sidebar .widget-tags ul > li a{
   border: 1px solid #dedede;
   color: #777;
   display: block;
   font-size: 13px;
   padding: 3px 15px;
   -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -ms-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}

.sidebar .widget-tags ul > li a:hover{
   background: #336699;
   color: #fff;
   border: 1px solid transparent;
}

/* Error page
================================================== */

.error-page .error-code{
   display: block;
   font-size: 150px;
   line-height: 150px;
   color: #333;
   margin-bottom: 20px;
   text-shadow: 5px 5px 1px rgba(0,0,0,.1);
}

.error-page .error-body .btn{
   margin-top: 30px;
   font-weight: 700;
}



/* Home Variation
================================================== */

/* Header Solid */

.header-solid{
   background: #336699;
}

.header-solid .logo, 
.header-light .logo{
   background: none;
   min-height: auto;
}

.header-solid .logo:before, 
.header-solid .logo:after,
.header-light .logo:before, 
.header-light .logo:after{
   position: relative;
   border:0;
}

.header-solid ul.top-info li .info-box span.info-icon, 
.header-solid ul.top-info li .info-box .info-box-subtitle{
   color: rgba(255,255,255,.75);
}

.header-solid ul.top-info li .info-box p.info-box-title{
   color: #fff;
}


/* Header Boxed */

.nav-style-boxed .logo{
   padding-bottom: 10px;
}

.nav-style-boxed .site-navigation{
   box-shadow: none;
}

.nav-style-boxed .site-navigation .container{
   position: relative;
   box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
   background: #336699;
   bottom: -30px;
   z-index: 100;
}

.nav-style-boxed .site-navigation.navbar-fixed{
   background: none;
}

.nav-style-boxed .site-navigation.navbar-fixed .container{
   bottom: 0;
}

/* Header light */

.header-light .site-navigation{
   background: none;
}


/* Header White */

.header-white{
   background: #fff;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
}

.header-white .logo{
   background: #336699;
   z-index: 1;
   min-height: 110px;
   padding: 20px 0 20px 15px;
}

.header-white .logo:before{
   background: #336699;
}

.header-white .logo:after{
   border-top: 110px solid #336699;
}

.header-white .navbar-nav>li>.dropdown-menu{
   left: 0;
}

.header-white ul.navbar-nav > li{
   padding: 0;
}

.header-white ul.navbar-nav > li > a{
   color: #3d4049;
   font-size: 14px;
   padding: 0 15px;
   line-height: 110px;
}

.header-white ul.navbar-nav > li:last-child > a{
   padding-right: 0;
}

.header-white ul.navbar-nav > li:hover > a, 
.header-white ul.navbar-nav > li.active > a{
   color: #336699;
}

.header-white .dropdown-menu{
   border-top: 3px solid #336699;
   }
  /*navigation tab */

/*a:hover, a:focus {
  color: #2a6496;
  text-decoration: none;
}*/
.square-service-block{
  position:relative;
  overflow:hidden;
  margin:15px auto;
  }
.square-service-block a {
  background-color: #e74c3c;
  border-radius: 5px;
  display: block;
  padding: 60px 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.square-service-block a:hover{
  background-color: #336699;
  border-radius: 5px;
}

.ssb-icon {
  color: #fff;
  display: inline-block;
  font-size: 28px;
  margin: 0 0 20px;
}

h2.ssb-title {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  margin:0;
  padding:0;
  text-transform: uppercase;
}
.insurance-icons {
   font-size:58px;
   color:blue;
}

.team{
    padding:75px 0;
}
h6.description{
  font-weight: bold;
  letter-spacing: 2px;
  color: #999;
  border-bottom: 1px solid rgba(0, 0, 0,0.1);
  padding-bottom: 5px;
}
.profile{
  margin-top: 25px;
}
.profile h1{
  font-weight: normal;
  font-size: 20px;
  margin:10px 0 0 0;
}
.profile h2{
  font-size: 14px;
  font-weight: lighter;
  margin-top: 5px;
}
.profile .img-box{
  opacity: 1;
  display: block;
  position: relative;
}
.profile .img-box:after{
  content:"";
  opacity: 0;
  background-color: rgba(0,255,0,0.3);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.img-box ul{
  position: absolute;
  z-index: 2;
  bottom: 50px;
  text-align: center;
  width: 100%;
  padding-left: 0px;
  height: 0px;
  margin:0px;
  opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
  -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box ul i{
  font-size: 20px;
  letter-spacing: 10px;
}
.img-box ul li{
  width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #336699;
    margin: 2px;
    padding: 5px;
  display: inline-block;
}
.img-box a{
  color:#fff;
}
.img-box:hover:after{
  opacity: 1;
}
.img-box:hover ul{
  opacity: 1;
}
.img-box ul a{
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
  border-color: #fff;
  color: #336699;
}

i.red{
    color:#BC0213;
}
.team-img{
  width: 258px;
  height: 246px
}